@import '../styles/variables.scss';

.footer {
    background-color: #000;
    color: #fff;
    padding: 80px 0 20px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 60px;
}

.column {
    h3 {
        font-size: 20px;
        margin-bottom: 24px;
        color: $primary-color;
    }

    p,
    li {
        color: #ccc;
        line-height: 1.8;
        margin-bottom: 10px;
    }

    ul li {
        cursor: pointer;
        transition: color 0.3s ease;

        a:hover,
        &:hover {
            color: $primary-color;
        }
    }
}

.copyright {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;

    p {
        font-size: 14px;
        color: #666;
    }
}